<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">


<div class="container-fluid " style="height:100vh;"> 
    <div class="text d-flex justify-content-center">
        <div class="col-lg-6 col-sm-10">
        <h1 class="font-effect-neon p-5 d-flex justify-content-center">OOPS!</h1>
        <h2 class="font-effect-shadow-multiple p-2 d-flex justify-content-center">ERROR</h2>
        <h2 class="font-effect-shadow-multiple p-2 d-flex justify-content-center">404</h2>
        <h4 class="font-effect-shadow-multiple p-2 d-flex justify-content-center">PAGE NOT FOUND</h4>
       <div class="d-flex justify-content-center"><button type="button"  class="btn btn-outline-pink m-5"  (click)="IrPortfolio()">Ir a Portfolio Web</button></div> 
       </div>
    </div>
</div>