
.degrade2 {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.degrade {
    background: #FFAFBD;
    background: -webkit-linear-gradient(to left, #ffc3a0, #FFAFBD);
    background: linear-gradient(to left, #ffc3a0, #FFAFBD);
}

.text{
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    font-weight:100;
}

