<div class="experiencia shadow-border mb-4 mt-0" @Entrar [ngClass]="{'shadow-border-pink margin':this.shadowExperienciaActive==true}">
  <div class="d-flex mb-4">
    <h1>Experiencia</h1>
    <div class="iconadd" *ngIf="isLogged"> <button type="button" class="btn btn-light"
        (click)="nuevaExperienciaActve()">
        <i class="bi bi-plus-lg">Agregar</i>
      </button></div>
  </div>

  <app-experiencia-new *ngIf="newExperienciaActive" (actualizar)="HijoExperienciaActive($event)"></app-experiencia-new>

  <div class="container" cdkDropList (cdkDropListDropped)="dropExperiencia($event)">

    <div cdkDrag class="row mb-5" *ngFor="let experiencia of miExperiencia">
      <div class="handle" cdkDragHandle>
        <div *ngIf="isLogged">
          <svg width="24px" fill="red" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
            </path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 mb-2 shadow-border" style="border-radius: 20px;" id="ExperienciaComponent">
        <h4 class="ms-sm-0 ms-lg-4">Empresa:</h4> <span>{{experiencia.company}}</span> <br><br>
        <h5 class="ms-sm-0 ms-lg-4">Puesto:</h5> <span>{{experiencia.position}} </span><br>
        <h6 class="ms-sm-0 ms-lg-4">Descripcion:</h6> <span>{{experiencia.description}}</span><br>
        <h6 class="ms-sm-0 ms-lg-4"> Modo:</h6> <span> {{experiencia.mode}}</span> <br>
        <h6 class="ms-sm-0 ms-lg-4">Comenzo: </h6><span> {{experiencia.start}}</span> <br>
        <h6 class="ms-sm-0 ms-lg-4">Termino: </h6><span>{{experiencia.end}}</span> <br>
        <h6 class="ms-sm-0 ms-lg-4">Tiempo de duracion:</h6> <span> {{experiencia.timeElapsed}} </span>
      </div>

      <div class="col-lg-6 col-sm-12 contenedor mt-4"><img class="img-fluid imagen" style="border-radius: 20px;" [src]="experiencia.img_url" alt=""></div>

      <div class="row m-0 justify-content-center">
        <div class=" icons iconadd" *ngIf="isLogged">
          <button type="button" class="btn btn-outline-success m-2"
            routerLink="/Secciones/ExperienciaEdit/{{experiencia.id}}">
            <i class="bi bi-pencil"></i>Editar
          </button>
          <button type="button" class="btn btn-outline-danger m-2" (click)="delete(experiencia.id)">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

