<div class="container">
  <div class="row">
    <form [formGroup]="formNewExperiencia" (ngSubmit)="onCreate()" novalidate #f="ngForm">

      <div class="form-group">
        <label for="company">Nombre de la Empresa</label>
        <input formControlName="company" type="text" class="form-control" id="company" name="company" formControlName="company" required>
      </div>

      <div class="form-group">
        <label for="position">Puesto que ocupa.</label>
        <input formControlName="position"  type="text" class="form-control" id="position" name="position" required>
      </div>
      <div class="form-group">
        <label for="description">Descripcion </label>
        <input formControlName="description"  type="text" class="form-control" id="description" name="description" required>
      </div>
      <div class="form-group">
        <label for="img_url">Link de la imagen de la empresa</label>
        <input formControlName="img_url"  type="text" class="form-control" id="img_url" name="img_url"  required>
      </div>
      <div class="form-group">
        <label for="mode">Modo </label>
        <input formControlName="mode" type="text" class="form-control" id="mode" name="mode"  required>
      </div>
      <div class="form-group">
        <label for="start">Fecha de comienzo</label>
        <input formControlName="start" type="text" class="form-control" id="start" name="start"  required>
      </div>
      <div class="form-group">
        <label for="end">Fecha de finalizacion</label>
        <input  formControlName="end"  type="text" class="form-control" id="end" name="end" required>
      </div>
      <div class="form-group">
        <label for="timeElapsed">Tiempo de duracion en el puesto</label>
        <input formControlName="timeElapsed" type="text" class="form-control" id="timeElapsed" name="timeElapsed"  required>
      </div>
      <button class="btn btn-info my-4" >Crear</button>
    </form>
  </div>
</div>