<div class="container-fluid shadow-border mt-0 ">
  <div class="row">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
     <h5 class="d-flex justify-content-center">EDICION DE EXPERIENCIA</h5>
      <div class="form-group">
        <label for="company">Nombre de la Empresa</label>
        <input type="text" class="form-control" id="company" name="company" [(ngModel)]="Experiencia.company">
      </div>
      <div class="form-group">
        <label for="position">Puesto que ocupa.</label>
        <input type="text" class="form-control" id="position" name="position" [(ngModel)]="Experiencia.position">
      </div>
      <div class="form-group">
        <label for="description">Descripcion del puesto</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="Experiencia.description">
      </div>
     
      <div class="form-group">
        <label for="img_url">Link de la imagen de la empresa</label>
        <input type="text" class="form-control" id="img_url" name="img_url" [(ngModel)]="Experiencia.img_url">
      </div>
      <div class="form-group">
        <label for="modo">Modo </label>
        <input type="text" class="form-control" id="mode" name="mode" [(ngModel)]="Experiencia.mode">
      </div>
      <div class="form-group">
        <label for="start">Fecha de comienzo</label>
        <input type="text" class="form-control" id="start" name="start" [(ngModel)]="Experiencia.start">
      </div>
      <div class="form-group">
        <label for="end">Fecha de finalizacion</label>
        <input type="text" class="form-control" id="end" name="end" [(ngModel)]="Experiencia.end">
      </div>
      <div class="form-group">
        <label for="end">Tiempo de duracion</label>
        <input type="text" class="form-control" id="timeElapsed" name="timeElapsed" [(ngModel)]="Experiencia.timeElapsed">
      </div>
      <button class="btn btn-danger mb-2 mt-2">Editar</button>
    </form>
  </div>
</div>